body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
  background-color: rgb(233, 0, 0); /* Match the background color */
  box-sizing: border-box;
}

.hidden {
  display: none !important; /* Ensure it overrides any other display settings */
  visibility: hidden; /* Additionally ensure visibility is hidden */
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensure it takes full viewport height */
  background-color: #000000;
  text-align: center;
  z-index: 1001; /* Ensure it is above other content initially */
  position: relative; /* Ensure relative positioning for the button */
  overflow: hidden; /* Prevent internal scrolling */
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video covers the entire container */
}

.unmute-button {
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px; /* Align icon vertically */
  cursor: pointer;
  z-index: 1002; /* Ensure it is above the video */
  transition: background-color 0.3s ease;
  padding: 0; /* Ensure the padding does not affect centering */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the icon */
}

.unmute-button:hover {
  background-color: rgb(233, 0, 0, 0.5);
}

.navbar {
  background-color: rgb(233, 0, 0);
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Ensure navbar takes full width */
  position: fixed; /* Fix navbar at the top */
  top: 0; /* Align to top */
  z-index: 1000; /* Ensure it is above other content */
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
}

#mainContent {
  background-color: rgb(233, 0, 0);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; /* Adjusted gap for better spacing */
  box-sizing: border-box;
  padding: 10px; /* Padding to avoid overlap with the navbar */
  margin-top: 60px; /* Adjust this value to be at least equal to the height of the navbar */
}

.flex-item {
  width: calc(50% - 10px); /* Two-column layout */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(233, 0, 0);
  box-sizing: border-box;
}

.flex-item img,
.flex-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
