body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
    display: grid;
    height: 100vh; /* Full viewport height */
    grid-template-columns: repeat(5, 2fr); /* Adjust the number of columns as necessary */
    grid-template-rows: auto auto auto; /* Adjust based on content */
    grid-gap: 10px;
    border: red 1px solid;
}
/* 
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px; 
    height: 100vh; 
} */

/* .item9, .item10 {
    grid-column: 3; 
    grid-row: 3 / 5; 
} */


.grid-item {
    background-color: rgb(233, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures content doesn't spill out */
}

.grid-item img, .grid-item video {
    width: 100%; /* Ensures that content fills the container */
    height: 100%;
    object-fit: cover; /* Maintains aspect ratio and covers the space */
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; /* Simpler grid for smaller screens */
    }
}
